<?xml version="1.0"?>
<ruleset
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    name="PSR-4-PHP-7-4"
    xsi:noNamespaceSchemaLocation="phpcs.xsd"
>
    <description>PSR-4 PHP 7.4 Rules</description>
    <config name="testVersion" value="7.4-"/>

	<arg name="basepath" value="./"/>
	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<file>.</file>
	<include-pattern>*/src/**/*</include-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	
	<rule ref="WordPress-VIP-Go"/>
</ruleset>
